h1 {
    text-align: left;
    font: monospace;
    color: #cc0e74;
}
body {
background-image: url("./sunflower.jpg");
background-repeat: no-repeat;
background-size: cover;

}
header {
    color: #790c5a;
    text-align: center;
    font: italic;
    font-weight: bold;

}