h1 {
    text-align: left;
    font: monospace;
    color: #fddb3a;
    text-decoration: underline;
    font-size: 5vh;
}
body {
background-image: url("./sunflower.jpg");
background-repeat: no-repeat;
background-size: cover;

}
header {
    color: #ff80b0;
    text-align: center;
    font: italic;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 6vh;

}